* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

#root {
    height: 100vh;
}

#root > .main_container{
  /* padding-bottom: 5rem; */
}

.main_container{
    height: calc(100% - 70px);
    box-sizing: border-box;
    max-width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

body{
    max-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    background: #FFFFFF;
    margin: 0;
}

button {
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    border: 1px solid transparent;
    width: 65px;
    cursor: pointer;
  
    display: flex;
    justify-content: center;
    transition: all .3s;
}

.main_title {
    align-self: flex-start;
    color: #2890b6;
}

.back_button {
    background: #014a76;
    color: #fff;
    height: 40px;
    width: 40px;
    padding: 7px;
}

.back_button img{
    object-fit: cover;
}

a {
    text-decoration: none;
}

img {
    border-radius: 10px;
    height: 100%;
    width: 100%;
    display: block;
    object-fit: cover;
    object-position: center 30%;
}
