* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

#root {
    height: 100vh;
}

body{
    max-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    background: #FFFFFF;
    margin: 0;
}

a {
    text-decoration: none;
}

img {
    border-radius: 10px;
    height: 100%;
    width: 100%;
    display: block;
    object-fit: cover;
    object-position: center 30%;
}

button {
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    border: 1px solid transparent;
    width: 65px;
    cursor: pointer;
  
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s;
}

.main_container{
    height: calc(100% - 70px);
    box-sizing: border-box;
    max-width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.containerDetails {
    height: 100%;
    width: 100%;
}

.subContainer {
    height: calc(100% - 10rem);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.actionsBar {
    width: 100%;
}

.top_container .actionsBar {
    border: 1px solid red;
    display: flex;
    justify-content: flex-end;
    gap: 3rem;
}

.main_title {
    align-self: flex-start;
    color: #2890b6;
}

.back_button {
    background: #014a76;
    color: #fff;
    height: 40px;
    width: 40px;
    padding: 7px;
}

.back_button img{
    object-fit: cover;
}

.new_button {
    width: auto;
    margin: 2rem 0;
    background-color: green;
}
.new_button a {
    color: #fff;
}

.edit_button {
    height: 100%;
    background: #efde47;
}

.edit_button:hover {
    background: #d7c840;
}

.edit_button:active {
    background: #bfb239;
}

.delete_button {
    background: #bf0000;
  }
  
  .success_button {
    background: #2687ab;
  }
  
  .delete_button:hover{
    color: #fff;
    background: #990000;
    border-color: #990000;
  }
  
  .delete_button:active {
    background: #730000;
  }
  
  .success_button:hover {
    color: #fff;
    background: #1e6c89;
    border-color: #1e6c89;
  }
  
  .success_button:active {
    background: #165167;
  }
